@import url(/assets/fonts/roboto/font.css);
@import url(adaptive.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto';
    border: none;
    outline: none;
  }


/* General */

.characters-wrapper {
    width: 100%;
    max-width: 1020px;
}

.cards {
    display: grid;
    margin: 0 auto;
    width: 100%;
    max-width: 1020px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    column-gap: 20px;
    row-gap: 24px;
    justify-items: center;
}


.characters__card, .locations__card, .episodes__card {
    display: flex;    
    width: 100%;
    max-width: 240px;
    border-radius: 4px;
    box-shadow: 2px 0px 8px 2px rgba(0, 0, 0, 0.1);
    flex-direction: column;   
}


.characters__card-info h3, .locations__card-info h3, .episodes__card-info h3 {
    color: black;
    font-weight: 500;
    letter-spacing: 0.15px;
    font-size: 20px;
}

.characters__card-info span, .locations__card-info span, .episodes__card-info span {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: 400;
}

.episodes__card-serie {
    margin-top: 0.5rem;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.6);
}


.locations__card, .episodes__card {
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
    text-align: center;
    height: 128px;
    max-height: 128px;
}


/* Header */

.header {
    position: relative;
    box-shadow: 2px 0px 8px 2px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 10rem;
    z-index: 4;
    background-color: white;
}

.header__content {
    margin: 0 auto;
    display: flex;
    max-width: 1020px;
    justify-content: space-between;
    align-items: center;
}

.header__logo img{
    transition: 0.4s;
}

.header__logo img:hover {
    transform: scale(1.2);
}

.header__nav {
    display: flex;
    gap: 2rem;
    font-weight: 700;
}

.header__nav a {
    color: black;
}

.header__nav a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background: rgb(0, 0, 0);
    transition: 0.3s;
    margin: auto;
    border-radius: 1px;
}

.header__nav a:hover::after {
    width: 100%;
}

/* Mobile-menu */

.mobile-menu {
    position: fixed;
    display: none;
    top: 69px;
    left: 0;
    width: 100%;
    height: auto;
    background: white;
    transition: 0.3s ease;
    z-index: 3;
    padding: 2rem;
    box-shadow: 2px 0 10px rgba(0,0,0,0.1);
  }
  
  .mobile-menu.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .mobile-menu__items {
    flex-direction: column;
    font-size: 24px;
  }
  
  .burger-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    flex-direction: column;
    gap: 4px;
  }

  .burger-btn::after {
    content: '×';
    cursor: pointer;
    display: none;
    pointer-events: auto;
    color: rgba(0, 0, 0, 0.54);
    font-size: 36px;
  }

  .burger-btn.open span {
    display: none;
  }

  .burger-btn.open::after {
    display: block;
  }
  
  .burger-btn span {
    display: block;
    width: 24px;
    height: 2px;
    background: black;
  }
  


/* Main */

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 15rem;
}

/* main__logo */

.main__logo {
    width: 100%;
    max-width: 732px;
    height: auto;
    filter: drop-shadow(0px 0px 10px #7dff7ab7);
}

/* goback-btn */

.goback-btn {
    position: absolute;
    left: 15%;
    top: 50px;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    font-size: 18px;
    transition: 0.6s;
}

.goback-btn:hover {
    transform: scale(1.2);

}

.goback-btn svg {
    margin-right: 0.5rem;
}

/* main__title */

.main__title {
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 3.5rem;
}

/* Filters */

.filters {
    display: flex;
    gap: 16px;
    padding: 1rem 0 3rem;
    justify-content: center;
}


.select-wrapper {
    position: relative;
    width: 200px;
   }

   .select-wrapper select {
    width: 100%;
    padding: 1rem 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    appearance: none;
    background: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
   }

   .select-wrapper::after {
    content: '▼';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 12px;
    color: #555;
    transition: 0.2s;
   }

   .select-wrapper.has-value::after {
    content: '×';
    cursor: pointer;
    pointer-events: auto;
    font-size: 16px;
    color: #999;
   }

   .select-wrapper.has-value::after:hover {
    color: #333;
   }

#episodes-search{
    width: 500px;
}


.filters__filter-item {
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    width: 240px;
    height: 53px;
}

.filters__filter-item input {
    width: 100%;
    margin-left: 1rem;
}

.filters__filter-item svg {
    margin-left: 1rem;
}

.filters__filter-item select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('/assets/icons/select_arrow.svg');
    background-repeat: no-repeat;
    background-position: right 10px center;
    width: 100%;
}


.filters__filter-item input, .filters__filter-item select {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
}

/* reset-filter */

.reset-filter{
    background: none;
    transition: 0.5s;
    color: rgba(0, 0, 0, 0.6);
    margin-right: 1rem;
}

.reset-filter:hover{
    transform: scale(1.6);
    color: red;
}

/* Selected-filters */

.selected-filters {
    display: flex;
    gap: 19rem;
}

.selected-filters p {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.15px;
    color: rgba(8, 31, 50, 1);
}

.selected-filters span {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.25px;
    color: rgba(110, 121, 140, 1);
}


/* Characters */



.characters__card-image {
    border-radius: 4px 4px 0 0;
    max-width: 240px;
    object-fit: cover;
    width: 100%;
    max-height: 168px;
}

.characters__card-info {
    padding: 1rem;
}

/* Character-details */

.character-details {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 70%;
}

.character-details__portrait {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.character-details__portrait h1 {
    font-size: 48px;
    font-weight: 400;
}

.character-details__portrait img {
    border-radius: 50%;
    border: 5px rgba(242, 242, 247, 1) solid;
}

.character-details__info {
    display: flex;
    gap: 2rem;
}

.character-details__info-block {
    flex-direction: column;
    width: 50%;
    gap: 0rem;
}

.character-details__info h3{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.15px;
    color: rgba(142, 142, 147, 1);
}

.character-details__info h6 {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.15px;
    color: rgba(8, 31, 50, 1);
}

.character-details__info span {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.25px;
    color: rgba(110, 121, 140, 1);
}

.episodes-items p {
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: rgba(142, 142, 147, 1);
}

.informations__item, .episodes__item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem 1rem 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* main__subtitle */

.characters__subtitle {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.15px;
    color: rgba(142, 142, 147, 1);
    margin: 5rem 0 1rem 0;
}

/* Loadmore btn */

.loadmore {
    min-width: 154px;
    min-height: 36px;
    color: rgba(33, 150, 243, 1);
    font-weight: 500;
    letter-spacing: 1.25px;
    background-color: rgba(242, 249, 254, 1);
    box-shadow: 2px 0px 8px 2px rgba(0, 0, 0, 0.1);
    margin-top: 5rem;
    transition: 0.3s;
}

.loadmore:hover {
    background-color: rgba(33, 150, 243, 1);
    color: rgba(242, 249, 254, 1);
}

/* Footer */

.footer {
    box-shadow: 2px 0px 8px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 1rem 15rem;
    justify-content: center;
    align-items: center;
}